# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyB6yLk-Sc1nxP7XtB3YtnCUKn3T6CNUPXE
VITE_FIREBASE_AUTH_DOMAIN=sadekh-informatique.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=sadekh-informatique
VITE_FIREBASE_STORAGE_BUCKET=sadekh-informatique.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=842232362444
VITE_FIREBASE_APP_ID=1:842232362444:web:2344905ba25b8c79bc5969
VITE_FIREBASE_MEASUREMENT_ID=G-5LHVHXM0WC
